@model StyleShop.Application.Order.Commands.EditOrder.EditOrderCommand

@{
    ViewData["Title"] = "Edit";
}

<div class="mb-3 d-flex align-items-center justify-content-between">
    <h3>Edit @Model.Product.Name order</h3>

    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <form class="d-flex flex-column gap-3" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderStatusId" class="control-label mb-2">Order status</label>
                <select class="form-control" asp-for="OrderStatusId" asp-items="@ViewBag.OrderStatuses"></select>
                <span asp-validation-for="OrderStatusId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
